body{
    overflow-x: hidden;
}

.img-size img{
    padding-top: 100px;
    width: 250px;
    filter: grayscale(1);
    transition: all 1s;
    transition-timing-function: ease;
    
}


.img-size img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and (max-width: 600px){
    .img-size{
        text-align: center;
    }

    .about-mySelf{
        padding-top:20px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 400;
    }

    .about-bgColor{
        background-color: #111a28;
        height: 1000px;
    }
    
}



@media screen and (min-width: 601px){
   
    .about-bgColor{
        background-color: #111a28;
        height: 500px;
    }

    .about-mySelf p{
        padding-top: 100px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        text-align: justify;
    }
}

@media screen and(max-width:350px){
    .about-bgColor{
        background-color: #111a28;
        height: 700px;
    }
}

@media screen and (min-width:700px){
    .about-bgColor{
        background-color: #111a28;
        height: 600px;
    }
}




